.worksContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: .625rem;
    padding-bottom: 6.25rem;  
    .cardsWorks{
       display: flex; 
       flex-direction: column;
       width: 90%;
       margin-left: 6.25rem;
       .sectionCard{
            display: flex;
            gap: 1.875rem;
            align-items: center;
            width: 100%;
            .logo{
                width: 2rem;
                height: 2rem;
                position: relative;
            }
            .card{
                margin: .625rem;
                width: 18.75rem;
                height: 14.375rem;
                background: rgb(146,25,25);
                background: white;
                img{
                    width: 17.5rem;
                    height: 11.875rem;
                }
            }
            .divIcons{
                display: flex;
                flex-wrap: wrap;
                gap: .3125rem;
                width: 9.375rem;
                height: 6.875rem;
                .logo{
                    width: 2rem;
                }
                .symbol{
                    width: 2rem;
                    .symbolContainer{
                        height: auto;
                        z-index: 1;    
                        width: auto;
                        background-image: none;
                        background: none;
                        background-color: transparent;
                        .logo{
                            filter: none;
                        }
                    }
                }
            }
            .infoCard{
                width: 100%;
                height: 9.375rem;
                color: white;
                margin-left: .625rem;
                .description{
                    padding: 0;
                    width: 100%;
                    .fontCards{
                        color: white;
                        width: 100%;
                    }
                }
            }
       }
    }
}

@media (max-width:900px){
    .worksContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(46, 45, 45);
        backdrop-filter: .625rem;
        padding-bottom: 6.25rem;
        .cardsWorks{
           display: flex; 
           flex-direction: column;
           width: 100%;
           margin-left: 0;
           .sectionCard{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
                .logo{
                    width: 2rem;
                    height: 2rem;
                    position: relative;
                }
                .card{
                    margin: .625rem;
                    width: 18.75rem;
                    height: 14.375rem;
                    background: white;
                    img{
                        width: 17.5rem;
                        height: 11.875rem;
                    }
                }
                .divIcons{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: .3125rem;
                    width:90%;
                    .symbol{
                        width: 2rem;
                        .symbolContainer{
                            height: auto;
                            z-index: 1;    
                            width: auto;
                            background-image: none;
                            background: none;
                            background-color: transparent;
                            .logo{
                                filter: none;
    
                            }
                        }
                    }
                }
                .infoCard{
                    width: 90%;
                    height: 9.375rem;
                    color: white;
                    margin-left: .625rem;
                    .description{
                        padding: 0;
                        width: 100%;
                        .fontCards{
                            color: white;
                            width: 100%;
                        }
                    }
                }
           }
        }
    }
}