.worksContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #666262;
    background-image: url("../../img/adrien-olichon-RCAhiGJsUUE-unsplash.jpg");
    background-image: linear-gradient(to top, #22577a, transparent);
    backdrop-filter: .625rem;
    padding-bottom: 6.25rem;
    
    .cardsWorks{
       display: flex; 
       flex-direction: column;
       width: 100%;
       margin-left: 6.25rem;
       
       .sectionCard{
        display: flex;
        align-items: center;
        

            .logo{
                width: 4rem;
                height: 4rem;
                position: relative;
                
            }
            .card{
                margin: .625rem;
                width: 18.75rem;
                
            }
           
            .divIcons{
                display: flex;
                flex-wrap: wrap;
                gap: .3125rem;
                width: 12.8125rem;
                
                .symbol{
                    
                    .symbolContainer{
                        height: auto;
                        z-index: 1;    
                        width: auto;
                        background-image: none;
                        background: none;
                        background-color: transparent;
                        .logo{
                            filter: none;

                        }
                        
                        
                    }
                    
                }
            }
       }
        
    }
  
}

@media (max-width:1300px){

}