.symbolContainer{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgb(102,98,98);
        background: linear-gradient(0deg, #7e7e7e 0%, rgb(29, 28, 28) 38%);
        z-index: -1;
        width: 80%;
  .logo{
    width: 31.25rem;
    height: 31.25rem;
    filter: grayscale(80%);
    filter: opacity(25%);
    
    
  }
   @keyframes logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .logoReact:nth-of-type(1) .logo {
        animation: logo-spin infinite 30s linear;
      }
    }
}


@media (max-width: 1300px){
  .symbolContainer{
    width: 100%;
  }
}