.new{
    
    .textImgMedia{
        display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(46, 45, 45);
    z-index: 1;
    .homeContainer{ 
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        .textImg{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37.5rem;
            .imgPerfil{
                margin: 6.25rem 1.25rem 0 0;
                border-radius: 6%;
                width: 7.5rem;
                height: 7.5rem;
                background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
            }
            .secText{
                margin-top: 6.25rem;
                font-family: "Montserrat", sans-serif;
                .pName{
                    font-size: 1.875rem;
                    color: white;
                    margin: 0;
                }
                .nFront{
                    font-weight: 1.375rem;
                    color: rgb(255, 255, 255);
                    margin: 0;
                }
            }
        }
        .pPresent{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            color: white;
            margin:0;
            padding: .625rem;
            height: 25rem;
            border-radius: .625rem;
            font-size: 1.1875rem;
            .pDescription{
                margin-top: 0;
                width: 100%;
                
            }
            .titlepParrapf{
                font-size: 3.125rem;
                margin: 0;
                text-align: center;
                font-family:serif;
                font-weight: 18.75rem;
            }
        }
        .sectionParrafoHome{
            order: 1;
            .iconsSocial{
                display: flex;
                justify-content: center;
                margin: 1.875rem;
                position: relative;
            .sectionLogos{
                z-index: 2;
            }
                
            }
        }
            
    }
    .sectionImg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        order: 1;
        width: 50%;
        .arrowHome{
            width: 25rem;
            height: 25rem;
            transition: 0.3s;
        }
        .arrowHome:hover{
            width: 34.375rem;
            
        }
    }
   
    .sectionImg .arrowHome{
        display: inline-block;
        animation: bounce 0.5s infinite alternate;
    }
    @keyframes bounce {
        0% {
            transform: translateY(0); /* Define la posición inicial */
        }
        100% {
            transform: translateY(-15px); /* Define la posición final */
        }
    }
    .sectionWorks{
        width: 80%;
        
    }
    .titleWork{
        width: 18.75rem;
        margin: 1.875rem;
        font-size: 4.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        order: 2;
    }
    .titleWork span{
        display: inline-block;
        animation: bounce 0.5s infinite alternate;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0); /* Define la posición inicial */
        }
        100% {
            transform: translateY(-15px); /* Define la posición final */
        }
    }

}

@media (max-width: 1300px){
    .new{
        .textImgMedia{
            display: none;
            
        }
        .homeContainer{
        width: 100%;
        
        .pPresent{
            width: 100%;
            color: white;
            margin: 0;
            
            padding: 1.25rem;
            height: 25rem;
            border-radius: .625rem;
            font-size: 1.125rem;
            .pDescription{
                margin-top: 0;
                width: 100%;
                
            }
        
        .titlepParrapf{
            font-size: 2.5rem;
            margin: 0;
            margin-bottom: 1.25rem;
            text-align: center;
            font-family:serif;
            font-weight: 300;
        }
        }
        .iconsSocial{
            display: flex;
            justify-content: center;
            margin: 1.25rem 0 0 0;
            position: relative;
           .sectionLogos{
            z-index: 2;
           }
            
        }
    }
        .sectionWorks{
            width: 100%;
        }
    }
    .sectionImg{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .arrowHome{
            width: 25rem;
            height: 25rem;
            transition: 0.3s;
        }
        .arrowHome:hover{
            width: 34.375rem;
            
        }
    }
     
}


@media (max-width: 900px){
    .new{
        .textImgMedia{
            .imgPerfil{
            width: .625rem ;
        }
        }
        
         .homeContainer{
        height: 100vh;
        
        .textImg{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 37.5rem;
            .secText{
                margin: .625rem 0 0 0;
            }
        }
        .pPresent{
            width: 100%;
            height: 100%;
            color: white;
            margin: 0;
            padding: 1.25rem;
            height: 25rem;
            border-radius: .625rem;
            font-size: 1rem;
            .pDescription{
                margin-top: 0;
                width: 100%;
                
            }
        }
    }
    }
   
}
@media (max-width: 640px){
    .new{
        .textImgMedia{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            .imgPerfil{
                margin: 1.875rem 0 0 0;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
            }
            .secText{
                margin-top: 0;
                font-family: "Montserrat", sans-serif;
                text-shadow: 0px 3px 3px rgb(0, 205, 212);
                .pName{
                    font-size: 1.875rem;
                    color: white;
                    margin: 0;
                    
                }
                .nFront{
                    font-weight: 1.375rem;
                    color: rgb(255, 255, 255);
                    margin: 0;
                    
                }
            }
        }
        .homeContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .textImg{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 37.5rem;
                display: none;
                .imgPerfil{
                    margin: 6.25rem 0 0 0;
                    border-radius: 6%;
                    width: 7.5rem;
                    height: 7.5rem;
                    background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
                }
            }
            .sectionImg{
                order: 2;
                .titleWork{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 18.75rem;
                    margin: 0;
                    font-size: 3.75rem;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: white;
                    order: 1;
                }
            }
            .sectionParrafoHome{
                height: 100vh;
                order: 1;
                .pPresent{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100vh;
                    color: white;
                    margin:0;
                    padding: .625rem;
                    height: 25rem;
                    border-radius: .625rem;
                    font-size: 1rem;
                    text-align: center;
                 } 
                .iconsSocial{
                        display: flex;
                        justify-content: center;
                        margin: .625rem 0 0 0;
                        position: relative;
                        .sectionLogos{
                        z-index: 2;
                    }         
       
                .pDescription{
                    margin-top: 0;
                    width: 80%;
                    height: 100vh;
                    }
                }
    }
       
    }

} }