.new{
    background-color: rgb(2,0,36);
    .textImgMedia{
        display: none;
    }
    .contactContaier{      
        background-color: rgb(2,0,36);
        width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    .homeContainer{ 
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        .textImg{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37.5rem;
            .imgPerfil{
                margin: 6.25rem 1.25rem 0 0;
                border-radius: 6%;
                width: 7.5rem;
                height: 7.5rem;
                filter: drop-shadow(10px 10px 30px  #61fad9);
                background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
            }
            .secText{
                margin-top: 6.25rem;
                font-family: Poppins;
                .pName{
                    font-size: 1.875rem;
                    color: white;
                    margin: 0;
                }
                .nFront{
                    font-weight: 1.375rem;
                    color: rgb(255, 255, 255);
                    margin: 0;
                }
            }
        }
        .pPresent{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            color: white;
            margin:0;
            padding: .625rem;
            height: 25rem;
            border-radius: .625rem;
            font-size: 1.1875rem;
            gap: 1.875rem;
            .pDescription{
                margin-top: 0;
                width: 100%; 
            }
            .titlepParrapf{
                font-size: 2.5rem;
                margin: 0;
                text-align: center;
                font-family:Poppins;
                font-weight: 18.75rem;
            }
        }
        .sectionParrafoHome{
            order: 1;
            .iconsSocial{
                display: flex;
                justify-content: flex-end;
                margin: 1.875rem;
                position: relative;
                padding-top: 1.875rem;
                .sectionLogos{
                    z-index: 2;
                }  
            }
        }
    }
    .sectionImg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        order: 1;
        width: 50%;
        .arrowHome{
            width: 25rem;
            height: 25rem;
        }
    }
    .sectionImg .arrowHome{
        display: inline-block;
        animation: bounce 0.5s infinite alternate;
    }
    @keyframes bounce {
        0% {
            transform: translateY(0); /* Define la posición inicial */
        }
        100% {
            transform: translateY(-15px); /* Define la posición final */
        }
    }
    .sectionWorks{
        width: 100%;
        
    }
    .titleWorks{
        width: 100%;
        padding-top: 10;
        color: white;
        font-family: Poppins;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;        
        backdrop-filter: blur(20px); 
    }
    .titleWork{
        width: fit-content;
        margin: 1.875rem;
        font-size: 4.5rem;
        font-family: Poppins;
        color: white;
        order: 2;
        .space{
            width: .625rem;
        }
    }
    .titleWork span{
        display: inline-block;
        animation: bounce 0.5s infinite alternate;
    }
    .sectionProyects{
        display: flex;
        background: rgb(2,0,36);
        
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 1.875rem;
        
    }
    .contactContaier{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0); /* Define la posición inicial */
        }
        100% {
            transform: translateY(-15px); /* Define la posición final */
        }
    }
}
@media (max-width: 1300px){
    .new{
        background-color: rgb(2,0,36);
        .textImgMedia{
            display: none;
        }
        .homeContainer{
        width: 100%;
        
        .pPresent{
            width: 100%;
            color: white;
            margin: 0;
            height: 100%;
            padding: 1.25rem;
            height: 25rem;
            border-radius: .625rem;
            font-size: 1.125rem;
            .pDescription{
                margin-top: 0;
                width: 100%;
            }
            .titlepParrapf{
                font-size: 2.5rem;
                margin: 0;
                margin-bottom: 1.25rem;
                text-align: center;
                font-family:serif;
                font-weight: 300;
            }
        }
        .iconsSocial{
            display: flex;
            justify-content: center;
            margin: 1.25rem 0 0 0;
            position: relative;
           .sectionLogos{
            z-index: 2;
           }
        }
        }
        .sectionWorks{
            width: 100%;
        }
        
    }
    .sectionImg{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .arrowHome{
            width: 25rem;
            height: 25rem;
        }
    }   
     
}
@media (max-width: 900px){
.new{
    background-color: rgb(2,0,36);
    .textImgMedia{
        .imgPerfil{
            width: .625rem ;
            filter: drop-shadow(10px 10px 30px  #61fad9);
                background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
        }
    }
    .homeContainer{
        .titleWork{
            font-size: 2.375rem;
            text-align: center;
        }
        .textImg{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 37.5rem;
            .secText{
                margin: .625rem 0 0 0;
            }
        }
        .pPresent{
            width: 100%;
            height: 100%;
            color: white;
            margin: 0;
            padding: 1.25rem;
            height: 25rem;
            border-radius: .625rem;
            font-size: 1rem;
            .pDescription{
                margin-top: 0;
                width: 100%;
            }
        }
    }
}
   
}
@media (max-width: 640px){
    .new{
        background-color: rgb(2,0,36);
        .textImgMedia{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            .imgPerfil{
                margin: 1.875rem 0 0 0;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
            }
            .secText{
                margin-top: 0;
                font-family: "Montserrat", sans-serif;
                text-shadow: 0px 3px 3px rgb(0, 205, 212);
                .pName{
                    font-size: 1.875rem;
                    color: white;
                    margin: 0;
                    
                }
                .nFront{
                    font-weight: 1.375rem;
                    color: rgb(255, 255, 255);
                    margin: 0;
                    
                }
            }
        }
        .homeContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
           
            .textImg{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 37.5rem;
                display: none;
                .imgPerfil{
                    margin: 6.25rem 0 0 0;
                    border-radius: 6%;
                    width: 7.5rem;
                    height: 7.5rem;
                    background-color: rgba($color: #2e2d2d79, $alpha: 0.6);
                }
            }
            .sectionImg{
                order: 2;
                .titleWork{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 18.75rem;
                    height: 100%;
                    margin: 0;
                    font-size: 2.375rem;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: white;
                    order: 1;
                }
            }
            .sectionParrafoHome{
                order: 1;
                .pPresent{
                    display: flex;
                    height: fit-content;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: fit-content;
                    color: white;
                    margin:0;
                    padding: .625rem;
                    border-radius: .625rem;
                    font-size: 1rem;
                    text-align: center;
                 } 
                .iconsSocial{
                        display: flex;
                        justify-content: center;
                        margin: .625rem 0 0 0;
                        position: relative;
                        padding: 0;
                        .sectionLogos{
                        z-index: 2;
                    }         
       
                .pDescription{
                    margin-top: 0;
                    width: 80%;
                    height: fit-content;
                    }
                }
            }
        }
    } 
}