.css-b62m3t-container{
    .custom-select-prefix__control{
    width: 17.5rem;
    font-family: Poppins;
    font-weight: 300; 
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    resize: none;
    transition: box-shadow 0.3s ease;
    border-radius: 0;
    }
    .custom-select-prefix__control:focus{
        border-color: #00c3ff;
        outline: none;
        resize: none;
        box-shadow: 0 0 10px rgb(184, 172, 4);
    }
    .css-art2ul-ValueContainer2{
        padding: 0;
    }
}

